<!DOCTYPE html>
<html lang="en">
  <head>
        <title>Status monitor.</title>
        <meta http-equiv="refresh" content="{{ checkInterval }}">
        <style type="text/css">
        .tg  {border-collapse:collapse;border-spacing:0;}
        .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
        .tg .tg-yw4l{vertical-align:top}
        .tg tr:nth-child(even) {background-color: #eee;}
        .tg tr:nth-child(odd) {background-color:#fff;}
        .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;background-color: black;color: white;}
        .tg .tg-good{background-color: green;}
        .tg .tg-bad{background-color: red;}
        .tg .tg-wrong{background-color: yellow;}
        </style>
  </head>
  <body>
  <div style="overflow-x:auto;">
    <table class="tg">
        <tr>
        <th class="tg-yw4l">Number</th>
        <th class="tg-yw4l">Url</th>
        <th class="tg-yw4l">Error</th>
        <th class="tg-yw4l">Status</th>
        <th class="tg-yw4l">Matched</th>
        <th class="tg-yw4l">Request Time [s]</th>
        </tr>
      {% for idx, status in enumerate(statusdata) %}
        {% set color = 'tg-good' if status['error'] is None else 'tg-bad'%}
        {% set cmatched = '' if status['matched'] == status['of_requirements'] else 'tg-wrong' %}
        <tr>
        <td class="{{ color }}">{{ idx }}</td>
        <td>{{ escape(status['url']) }}</td>
        <td>{{ status['error'] }}</td>
        <td>{{ status['status'] }}</td>
        <td class="{{ cmatched }}">{{ status['matched'] }} / {{ status['of_requirements'] }}</td>
        <td>{{ status['reqtime'] }}</td>
        </tr>
      {% end %}
    </table>
  </div>
  </body>
</html>